*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    
}

.wrapper
{
    background-color: #15161a;
    padding: 50px 40px;
    border-radius: 6px;
    width: 80vmin;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

span
{
    text-align: center;
    display: block;
    font-size: 100px;
}

#joke
{
    color: white;
    line-height: 34px;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 400;
    
}


#btn
{
    background-color: orange;
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    margin: 0 120px;
    cursor: pointer;
    display: block;
}